<!DOCTYPE html>
<html>
<head>
	<title>WAnder</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
	<div class = "container">
		<% include partials/alerts %>
		<%- body %>
		<div class = "row">
			<div class = "col-12">
				<a href = "/" class = "btn btn-info" id = "homeButton">Home</a>
				<% if(!currentUser) {%>
				<a href = "/auth/login" class = "btn btn-primary" id = "logInButton">Login</a>
				<a href = "/auth/signup" class = "btn btn-success" id = "signUpButton">Sign Up</a>
				<% } else { %>
				<a href = "/auth/logout" class = "btn btn-warning" id = "logOutButton"><%=currentUser.name%>, Do you wanna log out?</a>
				<a href = "/profile" class = "btn btn-danger" id = "profileButton">Profile</a>
				<% } %>
			</div>
		</div>
		
	</div> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0csLgRB6xo3EmOyQTh7rCxFcmLQGiYPM&libraries=places&callback=searchHikes"></script>



<script src = "/scripts/map.js"></script>
<script src = "/scripts/main.js"></script>

</body>
</html>

