<!DOCTYPE html>
<html>
<head>
	<title>WAnder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
	<div class = "container">
		<% include partials/alerts %>
		<%- body %>
	</div> 
	

	<% include partials/navbar %>





<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0csLgRB6xo3EmOyQTh7rCxFcmLQGiYPM&libraries=places&callback=searchHikes"></script>
<script src = "/scripts/map.js"></script>
<script src = "/scripts/main.js"></script>
</body>
</html>

