<body id = "profileBody">

<h1 id = "profileHeader">Welcome!</h1>



<div id="map" class="center-block" style="position:absolute"></div>




</body>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7KG7bUX3KfCASn0bAvle3M77tLJLQC6Q&callback=initMap"></script>
<script src = "/scripts/map.js"></script>

 </body>
</html>

