<body class = "body"></body>

<h1 id = "profileHeader">Welcome!</h1>
<br>
<br>
<h2 id = "profileSubHeader">Have you been outside today? Find a trail near you!</h2>
<br>
<br>
<br>
<br>

<div class = "container">
  <div class = "row">
    <div class = "col-sm-6">
      <form class="search-hike">
        <input id ="hike-input" type = "text" name = "location" placeholder = "Type your location here!">
        <input id ="searchClick" type="submit" class = "btn btn-large"></button>
        <button id = "refreshList" type = "submit" class = "btn btn-large" name = "refresh">Refresh List</button>
      </form>
      <div id = "hikeList"></div>
    </div> 
    <div class = "col-sm-6">
      <div id="map" style = "position:absolute"></div>
    </div>
    
  </div>
</div>

  





