<!DOCTYPE html>
<html>
 <head>
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
   <title>Profile</title>
 </head>
 <body>
	<h1 id = "profileHeader">Welcome!</h1>



<div id="map" class="center-block"></div>






<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7KG7bUX3KfCASn0bAvle3M77tLJLQC6Q&callback=initMap"
    async defer></script>
<script src = "/scripts/map.js"></script>

 </body>
</html>

