<body id = "profileBody">

<h1 id = "profileHeader">Welcome!</h1>

<!-- <footer>
<form class="form-inline">
	<div class = "form-group">
		<input type = "text" id = "search" placeholder = "Location">
	</div>
  <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected>Choose Distance</option>
    <option value="1">5 miles</option>
    <option value="2">10 miles</option>
    <option value="3">20 miles</option>
    <option value="4">30 miles</option>
    <option value="5">50 miles</option>
  </select>
  <button type="submit" class="btn btn-primary" id = "findTrailsButton" onsubmit="find()">Find Trails</button>
</form>
 </footer>
 -->
<input id="pac-input" class="controls" type="text" placeholder="Location">
<div id="map" class="center-block" style="position:absolute"></div>



