<h1 id = "wishListHeader">My Wishlist</h1>


<form method = "post" action = "/wishlist">
	<input type = "hidden" name = "name">
	<input type = "hidden" name = "rating">
	<input type = "hidden" name = "address">
	<input type = "submit">
</form>
