<h1 id = "wishListHeader">My Wishlist</h1>

<% wishes.forEach(function(wish){%>
	<div>
		<h3><%=wish.name%></h3>
		<h3><%=wish.location%></h3>
		<h3><%=wish.rating%></h3>
		<a href = "/wishlist/<%= wish._id %>" class = "removeWish">Remove</a>
	</div>
<%});%>
