<body id = "wishListBody"></body>
<br>

<h1 id = "wishListHeader">Hike Wishlist</h1>
<hr>
<br>
<br>
<br>

<% wishes.forEach(function(wish){%>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-12">
			<div id = "wishListForm">
				<h3 id = "wishName">Hike Name: <%=wish.name%></h3>
				<h4 id = "wishLocation">Address: <%=wish.location%></h4>
				<h5 id = "wishRating">Rating: <%=wish.rating%></h5>
				<a href = "/wishlist/<%= wish._id %>" class = "removeWish">Remove</a>
			</div>
		</div>
	</div>
</div>
<%});%>
<br>
