#homeBody {
	background-image: url('/images/forest.jpg');
	position: relative;
	background-size: 100%;
    background-size: cover;
	background-position: center center;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
#homeWelcome {
	color: #42733D;
	font-size: 80px;
	font-family: 'Julius Sans One', sans-serif;
	-webkit-animation-duration: 6s;
  	-webkit-animation-delay: 0s;
  	-webkit-animation-iteration-count: 1;
}
#homeWelcome:before{
	content:"wa";
	color: #28726E;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 80px;
	opacity: 2px;
	font-weight: bold;
}
#homeSubHeading {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	-webkit-animation-duration: 5s;
  	-webkit-animation-delay: 2s;
  	-webkit-animation-iteration-count: 1;
}
#logInButton {
	background: #A48535;
	border-color: #A48535;
	font-family: 'Julius Sans One', sans-serif;
}
#signUpButton {
	background: #6D5D4F;
	border-color:#6D5D4F;
	font-family: 'Julius Sans One', sans-serif;
}
#logOutButton {
	background: #455031;
	border-color: #455031;
	font-family: 'Julius Sans One', sans-serif;
	color: white;
}
#homeButton {
	background: #405D50;
	border-color: #405D50;
	font-family: 'Julius Sans One', sans-serif;
}
#signUpHeader {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	color: #4D4C33;
}
#trailInfoHeader {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 60px;
}
.container1 {
	border: 5px solid #28726E ;
	text-align: center;
}
#map {
	height: 70%;
	width: 80%;
}
#profileHeader {
	font-size: 50px;
	color: #28726E;
	font-family: 'Julius Sans One', sans-serif;

}
#profileButton {
	background: #8a773c;
	border-color: #8a773c;
	font-family: 'Julius Sans One', sans-serif;
}

body {
	background: #608656;

}
#loginHeader {
	font-size: 50px;
	color: #4D4C33;
	font-family: 'Julius Sans One', sans-serif;
}
label {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
}
#logMeInButton {
	font-family: 'Julius Sans One';
	background: #9F572B;
	border-color: #9F572B;
}
#signUpButton2 {
	font-family: 'Julius Sans One';
	background: #9F572B;
	border-color: #9F572B;

}
#findTrailsButton {
	font-family: 'Julius Sans One';
	background: #9F572B;
	border-color: #9F572B;
}
#inlineFormCustomSelect {
	font-family: 'Julius Sans One', sans-serif;
	background: #4D4C33;
	border-color: #4D4C33;
	color: white;
}
#search {
	font-family: 'Julius Sans One', sans-serif;
}
#pac-input {
  background-color: #fff;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 20px;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Julius Sans One', sans-serif;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
